@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");


*  {font-family: "Nunito Sans", sans-serif;}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 3px 3px 5px;
    width: 300px;
    border-radius: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container > h1 {
  font-size: 20px;
  width: 80%;
}

#container > h1:first-of-type {
  margin-top: 50px;
}

#container > h1:last-of-type {
  margin-bottom: 50px;
}

#cerca{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: green;
    font-size: 15px;
    margin: 0 0 20px 0;
    cursor: pointer;
    transition: 0.3s;
}

#cerca:hover{
    background-color: #005714;
}

@media (max-height: 900px) {
  body {
    height: 100%;
  }
}